* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: white;
    height: 6rem;
    font-size: 6vmin;
    line-height: 6rem;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 9rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 3rem;
    margin-top: 10rem;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-score, #comp-score {
    font-size: 4rem;
}

#msg {
    margin-top: 5rem;
    background-color: #081b31;
    color: white;
    font-size: 3rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
}

#reset-btn {
    position: absolute;
    top: 1rem;
    right: 4rem;
    align-items: flex-start;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: #081b31;
    color: azure;
    border: none;
}

#reset-btn:hover {
    cursor: pointer;
    background-color: #081b31;
}

.user-circle, .comp-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #081b31; /* Blue color */
    /* border: none; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* overflow: hidden; Ensure images do not exceed circle bounds */
}

.user-circle img, .comp-circle img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
